@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--primary: #818cf8;
	--secondary: #e0e7ff;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--primary);
	color: var(--secondary);
}

.container {
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: center;
	align-items: center;
	margin: auto;
}

label {
	font-size: 1.5rem;
	margin: 1rem 0rem;
}

input {
	padding: 0.8rem;
	width: 60%;
}

button {
	margin: 0.5rem 0rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: var(--primary);
	font-weight: bold;
	background-color: var(--secondary);
	border: 1px solid white;
	border-radius: 0.2rem;
}

#error-message {
	font-weight: bold;
}

table {
	text-align: center;
}

table caption {
	font-size: 1.5rem;
}

th,
tr,
td {
	border: 1px solid white;
}

td {
	width: 60px;
	height: 20px;
}

.footer {
	margin-top: 1.5rem;
	background-color: var(--primary);
	color: white;
	text-align: center;
	padding: 2rem 1rem;
	border-top-right-radius: 1rem;
}

.list-non-bullet {
	list-style: none;
}

.list-item-inline {
	display: inline;
	padding: 0rem 0.5rem;
}

.footer .link {
	color: white;
}

.footer .footer-header {
	font-weight: bold;
	font-size: large;
}

.footer ul {
	padding-inline-start: 0px;
}
